.blue-theme {
    --main-page-color: rgb(216.8, 235.6, 255);
    --sub-menu-color: rgb(159.5, 206.5, 255);
    --first-layer-menu-item-color: rgb(159.5, 206.5, 255);
    --header-color: rgb(51.2, 126.4, 204);
    --main-color: rgb(197.7, 225.9, 255);
}

.yellow-theme {
    --main-page-color: #dbbb89;
    --sub-menu-color: #dbbb89;
    --first-layer-menu-item-color: #dbbb89;
    --header-color: #c48e44;
    --main-color: #EFE3CE;
}